# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore
index2.js
input-trial-WORKS.js
input-trial-WORKS2.js
input-trial-WORKS3.js
input-trial-WORKS4.js
input-trial-WORKS5.js
input-trial.html
input-trial1.js
input-trial2.js
input-trial3.js
input-trial4.js
closureTest.html
colorboxes.html
custom-trial.html
