@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    /* primary */
    --primary-strong-cyan: hsl(172, 67%, 45%);

    /* neutral */
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-very-dark-cyan: hsl(183, 100%, 15%);
    --neutral-medium-dark-cyan: hsl(183, 78%, 23%);
    --neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
    --neutral-grayish-cyan: hsl(184, 14%, 56%);
    --neutral-light-grayish-cyan: hsl(185, 41%, 84%);
    --neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);


    --neutral-almost-black-shadow: hsl(0, 0%, 8%, 0.3);

    /* font body-copy */
    --fs-body-copy: 24px;

    --small-radius: .25rem;
}

html {
    font-size: var(--fs-body-copy);
}

body {
    /*  desktop: 1440x900px
        mobile: 375x780px */
    font-family: 'Space Mono', monospace;
}

.hidden {
    display: none;
}

.custom-tip.invalid {
    background-color: red;
}
    
.container {
    max-width: 1440px;
    margin-inline: auto;
        
    min-height: 100vh;
    display: grid;
    grid-auto-rows: auto 1fr auto;
    gap: 1rem;

    background-color: var(--neutral-light-grayish-cyan);
}


header {
    /* place-self: center; */
    align-self: end;
    justify-self: center;
    padding-block-start: 6rem;
}

.appname {
    font-size: 1rem;
    color: var(--neutral-dark-grayish-cyan);
}

main {
    background-color: var(--neutral-white);
    border-radius: 1rem;
    padding: 1rem;

    max-width: 500px;
    place-self: center;
    min-width: 375px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formGroup {
    position: relative;
}

.formGroup label {
    display: block;
    font-size: .75rem;
}

.formGroup input,
.custom-container > input {
    width: 100%;
    text-align: end;
    font-weight: 700;
    color: var(--neutral-very-dark-cyan);
    background-color: var(--neutral-very-light-grayish-cyan);
    border: 2px solid transparent;
}

.custom-container > input {
    text-align: center;
    /* background-color: var(--neutral-very-light-grayish-cyan);
    border: 2px solid transparent; */
}

.formGroup input:hover,
.custom-container > input:hover {
    border: 2px solid var(--primary-strong-cyan);
    cursor: pointer;
}

.errmsg {
    position: absolute;
    top: 2px;
    right: 0;
    font-size: .65rem;
    color: orangered;
}

.icon-dollar {
    position: absolute;
    content: url('./images/icon-dollar.svg');
    top: 1.65rem;
    left: .65rem;
}

.icon-person {
    position: absolute;
    content: url('./images/icon-person.svg');
    top: 1.65rem;
    left: .65rem;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    font-size: .75rem;
    padding-block-end: .75rem;
}

.radio-btn-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.radio-container {
    position: relative;    
}

.radio-container input {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    appearance: none;
}

.radio-container label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-white);
    background-color: var(--neutral-very-dark-cyan);
    font-weight: 600;
    border-radius: var(--small-radius);
    padding-block: .2rem;
    transition: all 300ms ease;
}

.radio-container:last-child input+label {
    color: var(--neutral-dark-grayish-cyan);
    background-color: var(--neutral-very-light-grayish-cyan);
}

.radio-container input:hover+label {
    color: var(--neutral-very-dark-cyan);
    background-color: var(--neutral-light-grayish-cyan);
}

.radio-container input:checked+label {
    color: var(--neutral-very-dark-cyan);
    background-color: var(--primary-strong-cyan);
}

/* What should happen is that with the last radiobutton is selected the cursor must be blinking in the input without having to tab over */
/* the input box is not even in alignment with the radiobutton */
.radio-container:last-child input:checked+label {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.result-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    padding: 1.25rem;
    margin-block-start: 1.5rem;
    border-radius: .7rem;
    background-color: var(--neutral-very-dark-cyan);
}

.per-person {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.amount {
    color: var(--neutral-white);
    align-self: center;
}

.amount p:first-child {
    font-size: .65rem;
}
.amount p:last-child {
    font-size: .6rem;
    color: var(--neutral-light-grayish-cyan)
}

.tip-amount,
.total {
    overflow-x: auto;
}

.result-container span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-strong-cyan);
    align-self: center;
}

#btn {
    font-weight: 700;
    color: var(--neutral-very-dark-cyan);
    background-color: var(--neutral-medium-dark-cyan);
    padding-block: .5rem;
    margin-block-start: 1rem;
    border-radius: var(--small-radius);
    border: none;
}

#btn:hover {
    color: var(--neutral-very-dark-cyan);
    background-color: var(--neutral-light-grayish-cyan);
    cursor: pointer;
}

#btn.calculated {
    background-color: var(--primary-strong-cyan);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* from https://austingil.com/how-to-build-html-forms-right-accessibility/ */
.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  }

  @media screen and (min-width: 768px) {
    .container {
        gap: 3rem;
    }

    main {
        max-width: 880px;
        width: 100%;
        margin-inline: 1rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;

        padding: 1.5rem;
    }

    .form-container,
    .result-container {
        max-width: 462px;
        width: 100%;
    }

    .form-container {
        gap: 1.5rem;
    }

    .radio-btn-group {
        grid-template-columns: 1fr 1fr 1fr;
        gap: .75rem;
    }

    .result-container {
        gap: 2rem;
        margin-block: 0;
    }
  }